 
 <template>

<script type ="application/javascript"
src="https://cdn.cai.tools.sap/webchat/webchat.js"
channelId="9cb3536b-b4ab-4417-91b4-08c5149f0326"
token="604ba513980e37dd35be30098db6ac83"
id="cai-webchat">
</script>
</template>