<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyA3qeIvzN42hgzPrZpa4yVHv25tz0mE_2E",
    authDomain: "fir-innojam.firebaseapp.com",
    databaseURL: "https://fir-innojam.firebaseio.com",
    projectId: "fir-innojam",
    storageBucket: "fir-innojam.appspot.com",
    messagingSenderId: "1037924168495",
    appId: "1:1037924168495:web:a65820dd1aea5affe7a7da"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>