<template>
  <div>
    <form>
      <div class="form-group">
        <label for="tacheEffectue">Taches effectué</label>
        <br>
        <input  class="form-control" id="tacheEffectue" >
      </div>
      <div class="form-group">
        <label for="tachecours">Tâches en cours</label>
         <input type="email" class="form-control" id="tachecours">
      </div>
      <div class="form-group">
        <label for="tachesaeffectue">Tâches a effectuées </label>
       <input type="email" class="form-control" id="tachesaeffectue">
      </div>
     <button type="button" class="btn btn-success">Valider</button>
    </form>
    
  </div>
</template>

<style lang="scss" scoped>

</style>