<template>
  <div id="app">
    <navbar></navbar>
    <router-view/>
<<<<<<< HEAD
    <router-link to="/chatbot"></router-link>
=======
    <router-link to="/mailform"></router-link>
>>>>>>> 644ae483b745e36eb3b1e266e07eaba2a9ab54dd
  </div>


</template>

<script>
import Navbar from '@/components/generic/Navbar.vue'

export default {
  name: 'app',
  components: {
    Navbar
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif; // Roboto, open sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: white;//#444444;//#505050//#333//#727070//#808182//#8a7e88
  padding: 8px;
  margin: -10px;
}
</style>
