<template>
  <div class="main">
    <sidebar></sidebar>
  </div>
</template>

<script>
import Sidebar from '@/components/generic/Sidebar.vue'

export default {
  name: 'main',
  components: {
    Sidebar
  }
}
</script>

<style lang="scss" scoped>
  .main {
    height: 89vh;
    //border: solid black 1px;
  }
</style>