<template>
  <div class="">

  </div>
</template>

<script>
export default {
  name: '',
  components: {},
  data: () => ({}),
  props: {},
  computed: {},
  methods: {},
  created: {},
  mounted: {},
  destroyed: {}
}
</script>

<style lang="scss" scoped>

</style>