<template>
  <div class="authenticate">
    <left-side></left-side>
    <right-side></right-side>
  </div>
</template>

<script>
import LeftSide from '@/components/auth/LeftSide.vue'
import RightSide from '@/components/auth/RightSide.vue'

export default {
  name : 'authenticate',
  components : {
    LeftSide,
    RightSide
  }
}
</script>

<style lang="scss">
  .authenticate {
    width: 85vw;
    height: 95vh;
    border-radius: 10px;
    //border: solid blue 2px;
    //display: inline-flex;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
  }
</style>