<template>
  <div class="left-side">
    <div class="title">
      <img class="fixed-logo" src="@/assets/images/bnp-paribas-logo-wallpaper.jpg">
    </div>
    <div class="slideshow-container">
      <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img class="slide-img" src="@/assets/images/Logo-BNP-Paribas.jpg" style="width:100%">
        <div class="text">Caption Text</div>
      </div>
      <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img class="slide-img" src="@/assets/images/jira.jpg" style="width:100%">
        <div class="text">Caption Two</div>
      </div>
      <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img class="slide-img" src="@/assets/images/ping.jpg" style="width:100%">
        <div class="text">Caption Three</div>
      </div>
    </div>
    <br/>
    <div class="dots">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
    </div>
  </div>
</template>

<script>
export default {
  name : 'left-side',
  components : {},
  data: () => ({
    slideIndex : 0
  }),
  methods: {
    showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      this.slideIndex++;
      if (this.slideIndex > slides.length) {this.slideIndex = 1}    
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[this.slideIndex-1].style.display = "block";  
      dots[this.slideIndex-1].className += " active";
      setTimeout(this.showSlides, 10000); // Change image every 2 seconds
    }
  },
  mounted() {
    this.showSlides()
  }
}
</script>

<style lang="scss">
  .left-side {
    width : 60vw;
    height: 100%;
    margin-right: -10vw;
    background-color: white;
    //border: solid green 2px;
    top: 0;
    left: 0;

    .title {
      .fixed-logo {
        width: 30vw;
        height: auto;
        margin-left: -10vw;
      }
    }

    .mySlides {
      display: none;
    }
    
    img {
      vertical-align: middle;
    }

    .slide-img {
      height: 45vh;
      width: 20vh;
    }

    /* Slideshow container */
    .slideshow-container {
      width: 40vw;
      position: relative;
      margin: auto;
      margin-left: 0vw;
      margin-top: 15%;
    }

    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }

    /* The dots/bullets/indicators */
    .dots {
      width: 40vw;
      position: relative;
      margin: auto;
      margin-left: 0vw;
      text-align: center;

      .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
    }

    .active {
      background-color: #717171;
    }

    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }

    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }

    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .text {font-size: 11px}
    }
  }
</style>