<template>
  <div class="register-form">
    <div class="form-header"><p class="label">SIGNING IN</p></div>
    <field :label="user.email.label" :type="'email'" :value="user.email.value" :valid="validateEmail()" @change="(v) => updateFields('email', v)"></field>
    <span v-if="errors.email && showErrors">{{ errors.email }}</span>
    <field :label="user.password.label" :type="'password'" :value="user.password.value" :valid="validatePassword()" @change="(v) => updateFields('password', v)"></field>
    <span v-if="errors.password && showErrors">{{ errors.password }}</span>
    <button class="btn" type="submit" @click="registerUser">Login</button>
  </div>
</template>

<script>
import Field from '@/components/generic/Field.vue'

export default {
  name : 'register',
  components : {
    Field
  },
  data : () => ({
    user : {
      name: { label : 'Username ', value : '' },
      email: { label: 'Email address ', value : '' },
      password : { label : 'Password ', value : '' }
    },
    errors : {
      name: null,
      email: null,
      password: null
    },
    showErrors : false
  }),
  methods : {
    emptyForm() {
      this.user.name.value  = ''
      this.user.email.value  = ''
      this.user.password.value  = ''
    },
    updateFields(key, value) {
      this.user[key].value = value
    },
    isFieldEmpty(key){
      return this.user[key].value ? false : true
    },
    validateEmail() {
      if(this.isFieldEmpty('email'))
        this.errors.email = 'Email address is required'
      else
        this.errors.email = null

      return !this.isFieldEmpty('email')
    },
    validatePassword() {
      if(this.isFieldEmpty('password'))
        this.errors.password = 'Password field is required'
      else
        this.errors.password = null

      return !this.isFieldEmpty('password')
    },
    validateForm() {
      return this.validateEmail() && this.validatePassword() ? true : false
    },
    registerUser() {
      if(this.validateForm()) {
        this.$emit('submit', this.user)
      } else {
        this.showErrors = true
      }
    }
  },
  mounted() {
    this.emptyForm()
  }   
}
</script>
<style lang="scss">
  .register-form {
    --dark: 51, 51, 51;
    --gutter: 1.2rem;
    --black: 0, 0, 0;
    --primary: 30, 130, 76;
    --white: white;
  }
</style>
<style lang="scss" scoped>
  .register-form {
    //padding:  calc(var(--gutter) / 2);
    width: 50%;
    position: relative;
    margin: 30% auto auto auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 7px 1px rgba(51, 51, 51, 0.5);

    .form-header {
      width: 100%;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      padding-top: 1px;
      //border: solid black 1px;
      box-shadow: 0px 2px 7px 1px rgba(51, 51, 51, 0.5);
      margin-bottom: var(--gutter);

      .label {
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
        //border: solid black 1px;
        color: #602053;
      }
    }
    span {
      color: rgba(240,52,52,1);
      font-size: 0.8rem;
      margin-left: calc( 10vw - var(--gutter) );
    }
    
    /deep/.field {
        margin-top: calc(var(--gutter) / 2);

        input {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: rgba(var(--black), 1);
          font-size: 1.2rem;
          background: #f7f7f7;
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          height: 40px;
          color: rgba(var(--dark), 0.7);
          padding: calc(var(--gutter) / 3) var(--gutter);
          //border: 1px solid #e6e6e6;
          border: none;
        }

        label {
          padding: 0 1.2rem;
          color: rgba(var(--black), 1);
          text-transform: none;
          font-size: 1.2rem;
          opacity: 0.5;
          pointer-events: none;
        }  
        
        &.focused, &:not(.empty) {
            label {
              transform: translate3d(1.2em, 0, 0);
              color: rgba(var(--black), 1);
              text-transform: none;
              font-size: 1.2rem;
              opacity: 0;
            }
        }

        &.valid {
          input {
            box-shadow: none;
          }
        }
    }

      .btn {
        background: #1EB4A1;
        color: white;
        width: 80%;
        border-radius: 0.1rem;
        border: none;
        padding: calc(var(--gutter) / 1.5) var(--gutter);
        text-align: center;
        margin: var(--gutter) auto;
        font-size: 1.2rem;
        align-items: center;
    }
  }
</style>