<template>
  <div class="right-side">
    <div class="auth">
      <register v-if="!registered" @submit="register"></register>
      <login v-else @submit="login"></login>
    </div>
  </div>
</template>

<script>
import firebase from "firebase"

import Register from '@/components/auth/Register'
import Login from '@/components/auth/Login'

export default {
  name : 'right-side',
  components : {
    Register,
    Login
  },
  data : () => ({
    registered : true
  }),
  computed : {},
  methods : {
    register(user) {
      console.log('user : ', user)
      firebase
        .auth()
        .createUserWithEmailAndPassword(user.email.value, user.password.value)
        .then(data => {
          data.user.updateProfile({
              displayName: user.name.value
            }).then(() => {
              this.registered = true
            });
        })
        .catch(err => {
          this.error = err.message;
        });
    },
    login(user) {
      firebase
      .auth()
      .signInWithEmailAndPassword(user.email.value, user.password.value)
      .then(() => {
        this.$router.replace({ name: "Home" });
      })
      .catch(err => {
        this.error = err.message;
      });
    }
  }
}
</script>

<style lang="scss">
  .right-side {
    --primary: 30, 130, 76;
  }
</style>

<style lang="scss">
  .right-side {
    width : 60vw;
    height: 120%;
    //Color set :
    //GREEN: #11865c, #0cba8b, #00855f, #77a464, #c1e1b9, #00b38b, #1EB4A1, #00965e
    //LIGHT : #ebe9eb, #dad8da, #f7f6f7
    //PINK : #935386, #a46497, #1e85be, #602053, #f1adad
    background: linear-gradient(90deg, rgb(0, 150, 94) 0px, rgb(2, 104, 66) 100%);
    margin-top: -10px;
    margin-right: -60px;
    transform: skew(-5deg) rotate(2deg);
    -webkit-transform: skew(-5deg) rotate(2deg);
    -moz-transform: skew(-5deg) rotate(2deg);

    .auth {
      transform: skew(5deg) rotate(-2deg);
      -webkit-transform: skew(5deg) rotate(-2deg);
      -moz-transform: skew(5deg) rotate(-2deg);
      //padding: 3% 2%;
    }
  }
</style>