<template>
<!-- disable-no-unused-vars -->
  <div class="field" :class="[{disabled, focused, empty, valid}, align]">
    <input :id="name" :name="name" :autocomplete="autocomplete" :value="lazyValue" @input="change" @focus="focus" @blur="blur" @keydown="keydown" @keyup="keyup" type="text" :pattern="pattern" :readonly="readonly" />
    <label :for="name">{{ label }}</label>
  </div>
</template>

<script>

export default {
  name: "field",
  data: () => ({
    lazyValue: "",
    focused: false
  }),
  props: {
    name: { type: String, default: null },
    autocomplete: { type: String, default: null },
    label: { type: String, default: "" },
    value: { type: String, default: "" },
    type: { type: String, default: 'text'},
    pattern: { type: String, default: "" },
    valid: { type: Boolean, default: false },
    align: { type: String, default: "left" },
    disabled: { type: Boolean, default: false },
    readonly: { type: Boolean, default: false }
  },
  computed: {
    empty() {
      return this.lazyValue.length === 0;
    }
  },
  methods: {
    change(event) {
      this.lazyValue = event.target.value;
      this.$emit("change", event.target.value);
    },
    changeNotTrusted(event) {
      if (!event.isTrusted) {
        this.lazyValue = event.target.value;
        this.$emit("change", event.target.value);
      }
    },
    focus() {
      this.focused = true;
      // event.target.focus()
      // event.target.click()
      this.$emit("focus");
    },
    blur() {
      this.focused = false;
      this.$emit("blur");
    },
    keydown(event) {
      this.$emit("keydown", event);
    },
    keyup(event) {
      this.$emit("keyup", event);
    }
  },
  watch: {
    value(v) {
      this.lazyValue = v;
    }
  },
  created() {
    this.lazyValue = this.value;
  },
  mounted() {},
  destroyed() {}
};
</script>

<style lang="scss" scoped>
.field {
  width: 100%;
  position: relative;

  input {
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    border: none;
    display: block;
    padding: 0.3rem;
    border-radius: 0.3rem;
    transition: all linear 0.1s;
    backface-visibility: hidden;

    &:focus {
      outline: none;
    }
  }

  label {
    color: #fff;
    text-transform: capitalize;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    pointer-events: none;
    transform: translate3d(0.6rem, 0, 0);
    transition: all linear 0.1s;
    backface-visibility: hidden;
  }

  &.focused,
  &:not(.empty) {
    label {
      transform: translate3d(0, -90%, 0);
    }
  }
  &.valid {
    input {
      background: rgba(255, 255, 255, 0);
      font-weight: bold;
    }
  }

  &.right {
    input {
      text-align: right;
    }

    label {
      justify-content: flex-end;
      transform: translate3d(-0.6rem, 0, 0);
    }

    &.focused,
    &:not(.empty) {
      label {
        transform: translate3d(0, -90%, 0);
      }
    }
  }
}
</style>
