<template>
  <div class="main">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">Atlentic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <button class="nav-link" href="#">Home <span class="sr-only">(current)</span></button>
          </li>
          <li class="nav-item">
            <button class="nav-link" href="#">Dashboard</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" href="#">Releases</button>
          </li>
          <li class="nav-item">
            <button class="nav-link disabled" href="#">Templates</button>
          </li>
          <li class="nav-item">
            <button class="nav-link disabled" href="#">Help ?</button>
          </li>
        </ul>
      </div>
      <button class="user" type="button">MN</button>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'navbar',
  components: {},
  data: () => ({}),
  computed: {},
  methods: {},
  created: {},
  mounted: {},
  destroyed: {}
}
</script>

<style lang="scss" scoped>
  .main {
    .navbar {
      background-color: #444444;

      .collapse {
        .navbar-nav {
          .nav-item {
            .nav-link {
              border: none;
              color: white;
              background: transparent;
            }
          }
        }
      }

      .user {
        width: 2rem;
        height: 2rem;
        margin-left: -2rem;
        border: solid white 1px;
        border-radius: 50%;
        text-align: center;
      }
    }
  }
</style>