<template>
  <div class="main">
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <button class="nav-link" href="#">Home <span class="sr-only">(current)</span></button>
          </li>
          <li class="nav-item">
            <button class="nav-link" href="#">Dashboard</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" href="#">Releases</button>
          </li>
          <li class="nav-item">
            <button class="nav-link disabled" href="#">Templates</button>
          </li>
          <li class="nav-item">
            <button class="nav-link disabled" href="#">Help ?</button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'sidebar',
  components: {},
  data: () => ({}),
  props: {},
  computed: {},
  methods: {},
  created: {},
  mounted: {},
  destroyed: {}
}
</script>

<style lang="scss" scoped>
.main {
  .navbar {
    display: block;
    width: 25vw;
    height: 100%;

    .form-inline {

    }

    #navbarNav {
      .navbar-nav {
        .nav-item {
          .nav-link {
            border: none;
            color: Black;
            background: transparent;
          }
        }
      }
    }
  }
}
</style>